{% macro actions(button_label, links) %}
    <div class="flex-row flex-nowrap">
        <button type="submit" class="btn-flat waves-effect waves-light">
            {{ button_label }}
        </button>
        {% for link in links %}
            <a href="{{ link[0] }}" class="btn-flat waves-effect waves-{{ link[2]|default('light') }}">
                {{ link[1] }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}
