@import '../variables';

// Persisted notifications in navbar
.notification-wrapper {
  .badge {
    position: absolute;
    top: 20%;

    $size: 1.3rem;
    width: $size;
    min-width: $size;
    height: $size;
    line-height: $size;

    border-radius: 50% !important;

    @media #{$large-and-up} {
      margin-left: 14px;
    }

    @media #{$medium-and-down} {
      margin-left: 28px;
    }
  }
}

#navbar-notifications {
  max-width: 600px;

  li {
    padding: 0.4rem 0.4rem;

    .material-icons {
      padding: 0 .4rem;
    }
  }
}

// Flash notifications as toasts
.toast {
  cursor: pointer;

  .material-icons {
    font-size: 24px;
    margin-right: 7px;
  }
}

// Common

.notif-info {
  background-color: $color-white;
  color: $color-black;
}

.notif-success {
  background-color: $color-success;
  color: $color-white;
}

.notif-warning {
  background-color: $color-warning;
  color: $color-white;
}

.notif-danger {
  background-color: $color-error;
  color: $color-white;
}
