@import '../variables';

$notifColors: (
  ('info', $color-white),
  ('success', $color-success),
  ('warning', $color-warning),
  ('error', $color-error),
);

.notif,
.toast {
  cursor: pointer;
  padding: 0.4rem;

  .material-icons {
    font-size: 24px;
    padding: 0 0.8rem 0 0.2rem;
  }

  @each $color in $notifColors {
    &.#{nth($color, 1)} {
      background-color: #{nth($color, 2)} !important;
    }
  }
}

// Notifications in navbar
#navbar-notifications {
  min-width: 300px;
  max-width: 600px;
}

// Badge for desktop and mobile
.notif-badge-container {
  position: relative;

  .notif-badge {
    position: absolute;
    top: 0.7rem;

    $size: 1.3rem;
    width: $size !important;
    min-width: $size !important;
    height: $size !important;
    line-height: $size !important;

    background-color: #ee6e73;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;

    text-align: center;
    border-radius: 50% !important;

    @media #{$large-and-up} {
      margin-left: 14px;
    }

    @media #{$medium-and-down} {
      margin-left: 28px;
    }
  }
}
