@import '../variables';

// Notifications in navbar
#navbar-notifications {
  min-width: 300px;
  max-width: 600px;
}

// Badge for desktop and mobile
.notif-badge-container {
  position: relative;

  .notif-badge {

    position: absolute;
    top: 0.7rem;

    $size: 1.3rem;
    width: $size !important;
    min-width: $size !important;
    height: $size !important;
    line-height: $size !important;

    border-radius: 50% !important;

    @media #{$large-and-up} {
      margin-left: 14px;
    }

    @media #{$medium-and-down} {
      margin-left: 28px;
    }
  }
}

// Flash notifications as toasts
.toast {
  cursor: pointer;

  .material-icons {
    font-size: 24px;
    margin-right: 7px;
  }
}

// Common
.notif {
  padding: 0.4rem 0.4rem;

  .material-icons {
    padding: 0 .4rem;
  }
}

.notif-info {
  background-color: $color-white !important;
}

.notif-success {
  background-color: $color-success !important;
}

.notif-warning {
  background-color: $color-warning !important;
}

.notif-error {
  background-color: $color-error !important;
}
