// Cards
.card-content .row:last-child {
  margin-bottom: 0;
}

// Icons
.material-icons {
  user-select: none;
  vertical-align: middle;

  &.action-icon {
    color: $secondary-color;
    cursor: pointer;
  }
}
