.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;

  border-radius: 0.25rem;

  &.alert-success {
    color: $color-white;
    background-color: $success-color;
  }

  &.alert-error {
    color: $color-white;
    background-color: $error-color;
  }
}

.material-icons {
  @extends .no-select;
  vertical-align: middle;

  main & {
    color: $secondary-color;
  }
}

.card-action button.btn-flat {
  color: $card-link-color;
}
