// Page title
.page-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  > .title-right {
    margin-left: auto;

    // Simulate h2 size
    // Should not bother as this part is made for icons
    font-size: $h2-fontsize;
    line-height: 110%;
    margin-top: $h2-fontsize / 1.5;
  }

  .material-icons {
    font-size: 2rem;
  }
}

// Drag and drop
[draggable=true] {
  cursor: pointer;
}

// Alerts
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;

  border-radius: 0.25rem;

  &.alert-success {
    color: $color-white;
    background-color: $success-color;
  }

  &.alert-error {
    color: $color-white;
    background-color: $error-color;
  }
}

// Toast
@each $name, $color in $notification-types {
  .toast-#{$name} {
    background-color: $color;
  }
}
