// stylelint-disable */
@import '~materialize-css/sass/components/color-variables';
// stylelint-enable */

// Materialize replacement
$primary-color: color('yellow', 'accent-4');
$secondary-color: color('orange', 'lighten-2');
$link-color: $secondary-color;

// Own variables
$color-primary: $primary-color;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%);
$color-secondary: $secondary-color;
$color-secondary-light: lighten($color-secondary, 5%);
$color-secondary-dark: darken($color-secondary, 5%);
$color-white: #ffffff;
$color-light-grey: color('grey', 'base');
$color-dark: color('grey', 'darken-4');
$color-black: rgba(0, 0, 0, 0.87);
$color-error: color('red', 'base');
$color-warning: color('amber', 'base');
$color-success: color('light-green', 'accent-3');

$default-transition: all 0.2s ease;

// Utilities
// Margin, padding
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// Width, height
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
);

// stylelint-disable
@import '~materialize-css/sass/components/variables';
// stylelint-enable
