<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="{{ path("app_homepage") }}" class="brand-logo text-uppercase">Info-lyon1</a>
        
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          {{ include('navigation/computer_navbar.html.twig') }}
          {{ include('navigation/mobile_navbar.html.twig') }}
        {% endif %}
    </div>
</nav>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  {{ include('navigation/mobile_sidenav.html.twig') }}
{% endif %}
