@import 'general/variables';

body {
  min-height: 100vh;
}

#error {
  margin-bottom: 2rem;

  > span {
    min-width: 5rem;
  }
}

#brand-logo {
  width: 10rem;
  margin-bottom: 1rem;
}

.input-field {
  @media #{$medium-and-up} {
    max-width: 50%;
  }

  > .prefix {
    color: $color-light-grey;
  }
}
