@mixin groups-column() {
  .group {
    width: $groups-width;
    padding: 0 ($groups-width - $groups-font-size) / 2;

    border-top: $big-border;

    word-wrap: break-word;
    font-size: $groups-font-size;
    letter-spacing: $groups-width;

    overflow: hidden;
  }
}
