@import "materialize/components/color-variables";

$primary-color: color("yellow", "accent-4");
$secondary-color: color("orange", "lighten-2");
$link-color: $secondary-color;

@import 'materialize/materialize';
@import 'general/general';
