@mixin table-body() {
  td.abs {
    position: relative;
    cursor: pointer;

    &.open div {
      @include popup-visible();
    }

    // the absence popup
    > div {
      @include popup();

      left: $line-height;
      min-width: 170px;

      // the absence information
      > div {
        margin: 0.4rem auto;
        white-space: nowrap;
        word-break: keep-all;

        &:nth-child(3) {
          font-weight: bold;
        }
      }

      &:nth-child(1) { top: 10px; }
      &:nth-child(2) { top: 110px; }
    }
  }

  tr:not(:first-child) {
    border-top: $default-border;

    &.new-group {
      border-width: $border-width-big;
      height: $line-height + 1px;
    }
  }
}
