@import '../general/variables';
@import '../general/mixins';
@import 'absence-table/variables';

@import 'absence-table/color-codes';
@import 'absence-table/table-static/table-static';
@import 'absence-table/table-dynamic/table-dynamic';
@import 'absence-table/absence-editor/absence-editor';

#absence-table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  > .static {
    @include table-static();
  }

  > .dynamic {
    @include table-dynamic();
  }

  > .absence-editor {
    @include absence-editor();
  }
}

/* stylelint-disable */
@import '~materialize-css/extras/nouislider/nouislider';
/* stylelint-enable */
