@import '../general/variables';
@import '../general/mixins';
@import 'absence-table/variables';

@import 'absence-table/color-codes';
@import 'absence-table/table-static/table-static';
@import 'absence-table/table-dynamic/table-dynamic';

#absences-table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  > .static {
    @include table-static();
  }

  > .dynamic {
    @include table-dynamic();
  }
}
