@import '../../scss/general/variables';

// General
$line-height: 26px;
$table-dynamic-width: 80%;

$border-color: #a0a0a0;
$border-width: 1px;
$border-width-big: 2px;
$default-border: $border-width SOLID $border-color;
$big-border: $border-width-big SOLID $border-color;

// TableStatic
$title-font-size: 1.4rem;

$groups-font-size: 20px;
$groups-width: 30px;

// TableHeader
$header-height: 70px;
