@import '../../common/variables';
@import '../../common/functions';

@mixin absence-editor() {
  $footer-height: $button-height;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  &.closed {
    display: none;
  }

  .row {
    height: calc(97% - #{$h4-fontsize * 1.1 * 2 + ($h4-fontsize / 1.5) + ($h4-fontsize / 2.5)} - #{$footer-height});

    > section {
      &,
      > .card,
      > .card .card-content {
        height: 100%;
      }

      &.add-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        overflow-y: auto;
      }
    }
  }

  > .modal-content {
    position: fixed;
    top: 10vh;
    left: 15vw;

    height: 80vh;
    width: 70vw;
    background-color: #fafafa;
    padding: 24px;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;

    > .modal-footer {
      height: $footer-height;
      text-align: right;
    }
  }

  .time-container {
    padding-bottom: 3rem;

    .noUi-target {
      margin: 0 0.5rem;
    }
  }

  .abs-type-container {
    margin-bottom: 1.6rem;

    .abs-type {
      color: theme-color('white');
      flex-grow: 1;
      height: 3rem;
      border: none;

      transition: all 0.4s ease-in-out;

      &.active {
        flex-grow: 4;
      }

      &:not(.active) {
        &:first-child {
          border-radius: 2px 0 0 2px;
        }

        &:last-child {
          border-radius: 0 2px 2px 0;
        }
      }

      @each $name, $color in $absence-colors {
        &.abs-#{$name} {
          color: darken(theme-color('white'), 7);
          background-color: darken($color, 10);

          &.active {
            color: theme-color('white');
            background-color: $color;
          }
        }
      }
    }
  }
}
