{% extends 'base.html.twig' %}

{% block page_title %}
    <h2>{{ 'course.form.new.title'|trans }}</h2>
{% endblock %}

{% block body %}
    {{ include('administration/course/_form.html.twig', {
        'button_label': 'global.button.create'|trans,
    }) }}
{% endblock %}
