{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'course.form.new.title'|trans }}</h1>

    {{ include('administration/course/_form.html.twig', {
        'button_label': 'global.button.create'|trans,
    }) }}
{% endblock %}
