<form
    method="post"
    action="{{ path('administration_semester_delete', {'id': semester.id}) }}"
    onsubmit="return confirm('{{ 'semester.form.delete.confirm'|trans }}');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ semester.id) }}">
    <button type="submit" class="btn btn-flat waves-effect waves-red">
        <i class="material-icons action-icon">delete</i>
    </button>
</form>
