{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'semester.form.edit.title'|trans }}</h1>

    {{ include('administration/semester/_form.html.twig', {
        'button_label': 'global.button.update'|trans,
        'actions': [
            {
                'content': include('administration/semester/_delete_form.html.twig'),
            },
            {
                'text': 'administration.message.come_back'|trans,
                'path': path('administration_index')
            }
        ]
    }) }}
{% endblock %}
