{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'semester.form.new.title'|trans }}</h2>

    {{ include('administration/semester/_form.html.twig', {
        'button_label': 'global.button.create'|trans,
    }) }}
{% endblock %}
